black==19.10b
bump2version==1.0.0
coverage==5.5
cython-fortran-file>=0.2.2
Cython==0.29.21
flake8==3.8.3
isort==5.2.1
kaitaistruct>=0.8
matplotlib<=3.2
mpmath==1.1.0
numba==0.50.1
numpy==1.19.1
pip==21.1
pre-commit==2.6.0
pyorick==1.4
pytest-runner==5.2
pytest==6.0.0
scipy==1.5.2
Sphinx==3.1.2
tox==3.18.1
twine==3.2.0
watchdog==0.10.3
wheel==0.34.2
yt==3.6.0
